.order-info {
	margin: 25px 0px;
}

li.orderitem {

}

span.orderitem {
	padding: 2.5px 5px;
	cursor: default;

	-webkit-box-shadow: 0px 0px 2.5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 2.5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 2.5px 0px rgba(50, 50, 50, 0.75);
}