<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="order-info">
        <h1>{{order.restaurant}}</h1>
        <small>Order date: {{order.date | date: 'dd / MM / yy'}}</small> <br />
        <small>Owner: {{order.owner.name}}</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" ng-hide="!isAuthenticated()">
      <h4>Product items</h4>
      <form role="form">
        <div class="form-group">
          <label for="orderitemName" class="control-label">Product</label>
          <input type="text" id="orderitemName" ng-model="orderitemName" placeholder="Product name">
        </div>

        <div class="form-group">
          <label for="orderitemPrice" class="control-label">Price (be fair)</label>
          <input type="number" id="orderitemPrice" ng-model="orderitemPrice" placeholder="Product price">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm" ng-click="addOrderitem()">Add orderitem</button>
        </div>

        <div ng-show="hasOrderline()">
          <h4>My orderline</h4>
          <ul class="orderitems list-inline list-unstyled">
            <li ng-repeat="orderitem in orderitems" class="orderitem"><span class="bg-info orderitem" tooltip="{{orderitem.price}}">{{orderitem.name}}</span></li>
          </ul>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg" ng-click="sendOrderline()">Send orderline</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-8">
      <h4>Orderlines</h4>
      <hr>
      <div id="orderlines">
        <div ng-repeat="orderline in orderlines" class="orderline">
          <ul class="list-inline list-unstyled orderitems">
            <li ng-repeat="orderitem in orderline.orderitems" class="orderitem"><span class="bg-info orderitem" tooltip="{{orderitem.price}}">{{orderitem.name}}</span></li>
          </ul>

          <div>
            <small>Owner: {{orderline.owner.name}}</small>
          </div>

          <div>
            <small>Total: {{orderline.total}}</small>
          </div>

          <hr>
        </div>
      </div>
    </div>
  </div>
</div>